.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.text {
    font-family: "Lobster-Regular";
}
/*menu component */
.menuLogo{
  height: 3vmin;
}
.navbar-brand{
  margin-left: 0;
  margin-right: 1rem;
}
/* About component */
.about {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.link {
  color: black;
  padding-top: 5px;
  padding-right: .5rem;
  padding-left: .5rem;
  justify-content: center;
  text-decoration: none;
}
/* .nav-link {
  padding: .5rem 1rem;
  display: inline !important;
} */
